{erl_opts, [debug_info]}.
{deps, [{lager, ".*", {git, "https://github.com/basho/lager", {tag, "3.2.1"}}}]}.

{relx, [{release, {try_build, "0.1.0"},
         [try_build,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
